body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue; /* Aquí se cambia el color de fondo */
}
/* Contenedor de imágenes en el encabezado */
.img-container-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #ffffff;
    border-bottom: 2px solid #ddd;
}
.texto {
    font-size: 15px;
    font-family: 'Century Gothic', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    
}


.img-container, .img-container2, .img-container3 {
    flex: 1;
    text-align: center;
}

.img-container img, .img-container2 img, .img-container3 img {
    max-width: 365px;
    height: auto;
    display: block;
    margin: auto;
}

.container1 {
    background-color: rgb(250, 210, 163); /* Color deseado */
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}

.container2 {
    background-color: rgb(255, 194, 113);
    width: 80%;
    margin: 80px auto;
    padding: 80px;
    border-radius: 8px;
    max-width: 1200px; /* Asegura que todos los contenedores tengan el mismo máximo tamaño */
}

.container3 {
    background-color: lightblue;
    width: 80%;
    margin: 80px auto;
    padding: 80px;
    border-radius: 8px;
    max-width: 1200px; /* Asegura que todos los contenedores tengan el mismo máximo tamaño */

}

.container4 {
    background-color: lightskyblue;
    width: 80%;
    margin: 80px auto;
    padding: 80px;
    border-radius: 8px;
    max-width: 1200px; /* Asegura que todos los contenedores tengan el mismo máximo tamaño */
}

h1, h2 {
    text-align: center;
    color: #333;
}

.pregunta {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

label {
    display: block;
    margin: 5px 0;
    font-size: 14px;
    color: #555;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    text-align: center;
    display: none;
}

#resultado p {
    font-size: 16px;
    color: #333;
}
